* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: auto;
}

:root {

    /* colors */

    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);

    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);

    --fSizeP: 16px;

    --spacing500: 16px;
    --spacing150: 12px;
    --spacing100: 18px;
    --spacing50: 4px;
}

.title {
    font-family: "Figtree";
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray950);
}

.description {
    font-family: "Figtree";
    font-size: 1rem;
    color: var(--gray500);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0px;
}

.date {
    font-family: "Figtree";
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0px;
}

.category {
    font-family: "Figtree";
    font-size: 14px;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: auto;
    background-color: var(--yellow);
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray950);
    border-radius: 20px;
    width: fit-content;
    min-height: 522px;
    max-width: 384px;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--white);
    box-shadow: .5rem .5rem var(--gray950);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 1rem 1rem var(--gray950);
}

.card .title {
    color: var(--gray950);
    transition: 0.5s ease-in-out;
}

.card:hover .title {
    color: var(--yellow);
}


.card .illustration {
    width: 100%;
    border-radius: 10px;
}

.card .card__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card .card__content .category {
    background-color: var(--yellow);
    border-radius: 4px;
    align-items: start;
    padding: 4px 12px;
    width: min-content;
}


.card .author {
    display: flex;
    gap: .75rem;
}

.author .userpic {
    height: 2rem;
    aspect-ratio: 1/1;
}

.author .authname {
    display: flex;
    align-items: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}